   header {
        font-family: 'Arial Black', sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.1%;
        font-size: 120%;
   }
   
   footer {
        text-align: center;
        justify-content: center; /* горизонтально */
        height: 15%;
        background-color: rgb(221, 221, 221);
    }

    .image_logo {
        height: 50%;
    }

    a{
        font-family: 'Arial Black', sans-serif;        
        margin-top: 30%;
        font-size: 100%;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .btn_one {
        font-size: 25px;
        padding: 40px;
        margin: 10px;
        border: none;
        border-radius: 20px;
        background-color: rgb(17, 148, 224);
        color: white;
        transition: 0.5s;
        cursor: pointer;
    }

    .btn_one:hover {
        background-color: rgb(15, 67, 209);
        color: white;
    }